<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Welcome login</h3>
      <p>Doesn't exist accout, please click button register</p>
      <input type="submit" name="" value="Register" /><br />
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <h3 class="register-heading">Login</h3>
        <form class="form__register" v-on:submit.prevent="login_user">
          <div class="row register-form">
            <div class="col col-md-6">
              <div class="form-group">
                <input
                  v-model="this.form.email"
                  id="email__form"
                  type="email"
                  class="form-control"
                  placeholder="Your Email *"
                
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password *"
                />
              </div>
            </div>
            <a href="#">Lost Password</a>

            <input type="submit" class="btnRegister" value="login" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
